<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTRHRIS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GTRHRIS.Properties.Settings.ConStrGTRHRIS" connectionString="Data Source=192.168.0.152;Initial Catalog=GTRHRIS;Persist Security Info=True;User ID=sa;Password=gtr@007"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRISConnectionString"
            connectionString="Data Source=SERVERDEV;Initial Catalog=GTRHRIS;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.gtattConnectionString"
            connectionString="Data Source=FAHAD;Initial Catalog=gtatt;User ID=sa;Password=007"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.gtrhrisfahad" connectionString="Data Source=ASAD-PC\ASADSQLSERVER;Initial Catalog=GTRHRIS;User ID=sa;Password=gtr@007"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRISConnectionString1"
            connectionString="Data Source=MAYEEN-PC;Initial Catalog=GTRHRIS;Persist Security Info=True;User ID=sa;Password=007"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_RegencyConnectionString"
            connectionString="Data Source=ASAD-PC\ASADSQLSERVER;Initial Catalog=GTRHRIS_Regency;Persist Security Info=True;User ID=SA;Password=gtr@007"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_REGENCYConnectionString1"
            connectionString="Data Source=ASAD-PC;Initial Catalog=GTRHRIS_REGENCY;Persist Security Info=True;User ID=sa;Password=gtr@007"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_REGENCYConnectionString2"
            connectionString="Data Source=192.168.50.250;Initial Catalog=GTRHRIS_REGENCY;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_YAHATConnectionString"
            connectionString="Data Source=GTRC-77-PC\SqlExpress;Initial Catalog=GTRHRIS_YAHAT;Persist Security Info=True;User ID=sa;Password=gtr@007"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_YAHATConnectionString1"
            connectionString="Data Source=ASAD-PC;Initial Catalog=GTRHRIS_YAHAT;Persist Security Info=True;User ID=sa;Password=gtr@007"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_YAHATConnectionString2"
            connectionString="Data Source=203.202.249.66\SQLEXPRESS;Initial Catalog=GTRHRIS_YAHAT;Persist Security Info=True;User ID=sa;Password=gtr@007"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_YAHATConnectionString3"
            connectionString="Data Source=10.4.4.78\SQLEXPRESS;Initial Catalog=GTRHRIS_YAHAT;User ID=sa;Password=gtr@007"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_INTERSTOFF_GMTConnectionString"
            connectionString="Data Source=AHSAN\SQLEXPRESS;Initial Catalog=GTRHRIS_INTERSTOFF_GMT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_TFConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=GTRHRIS_TF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_ManamiConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GTRHRIS_Manami;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_NDConnectionString"
            connectionString="Data Source=ASHRAF\MSSQLSERVER2014;Initial Catalog=GTRHRIS_ND;Persist Security Info=True;User ID=sa;Password=Gtr@#@!45"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.GTRHRIS_NDConnectionStringLatest"
            connectionString="Data Source=.;Initial Catalog=GTRHRIS_ND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GTRHRIS.Properties.Settings.NeddleDropConnectionString"
            connectionString="Data Source=DESKTOP-OH4O556\SQLEXPRESS;Initial Catalog=NeddleDrop;User ID=sa;Password=Gtr@#@!45"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <GTRHRIS.Properties.Settings>
            <setting name="AUId" serializeAs="String">
                <value />
            </setting>
        </GTRHRIS.Properties.Settings>
    </userSettings>
</configuration>